<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Button</title>
    <script src="vue.js" charset="utf-8"></script>
    <script src="easypiechart.min.js"></script>
    <script src="web3-utils.min.js"></script>
    <script src="axios.min.js"></script>
    <script src="ethprice.js" charset="utf-8"></script>
    <link rel="stylesheet" href="main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="button.css" type="text/css" media="all" />
  </head>
  <body>

    <div id="app" :class="{ loading: loadingText !== null }" :loading-status="loadingText">
      <a v-if="web3js() == null" href="https://metamask.io" target="_blank"><img class="download" src="download-metamask-dark.png" alt=""/></a>
      <div><div class="label"><img src="Money_Bag_Emoji.png"/>Pot Size:</div><span v-show="balance">{{ balance | toEtherString }} <span style="color:darkgray;">({{ balance | toUSD }})</span></span></div>
      <div><div class="label">Last Presser:</div><div class="lastPresser" :class="{ lastPressWinner: lastPresser == account }">{{ lastPresser }}</div></div>
      <div>
        <div class="label">Countdown:</div>
        <countdown :current-block="currentBlock" :end-block="endBlock"></countdown>
      </div>
      <p class="block-info">Current Block: {{ currentBlock }} &nbsp;&nbsp;&nbsp;End Block: {{ endBlock }}</p>
      <hr style="width:80%;margin:20px auto 20px auto;" />
      <thebutton :account="account" :current-block="currentBlock" :end-block="endBlock"></thebutton>
    </div>

    <script type="text/x-template" id="countdown-template">
      <div class="countdown">
        <div class="chart" data-percent="100">
          <div class="chart-inner">
            <p>{{ remainingBlocks ? remainingBlocks : '?' }}</p>
            <p>Blocks</p>
          </div>
        </div>
        <div class="timer"style="display:inline-block">
          &asymp; {{ countdown | toTimeString }}
        </div>
      </div>
    </script>

    <script type="text/x-template" id="button-template">
      <div>
        <div style="margin-left:40px;" class="thebutton-container active unlocked" :class="{ denied: !loaded || pending != null || cooloffEnd >= currentBlock || currentBlock > endBlock }">
          <button style="z-index:999" id="thebutton" title="BUTTON PRESS BUTTON PRESS IT BUTTON THE BUTTON PRESS IT PRESS THE BUTTON BUTTON BUTTON PRESS IT THE BUTTON THE BUTTON PRESS BUTTON IT PRESS IT THE BUTTON PRESS IT NOW" @click="press">[you feel an overwhelming urge to press the button]</button>
        </div>
        <div class="arrow">&#8592;</div>
        <div class="pressInfo">
          <template v-if="currentBlock > endBlock">
            <p>The button press game has ended.</p>
          </template>
          <template v-else-if="!loaded">
            <p>{{ statusText }}</p>
          </template>
          <template v-else-if="pending != null">
            <p v-if="pending == 'SIGNING'">Waiting for txn signature...</p>
            <p v-else>Your button press transaction is <a target="_blank" :href="'https://etherscan.io/tx/' + pending">pending.</a></p>
          </template>
          <template v-else-if="cooloffEnd >= currentBlock">
            <p>You can press again in {{ (this.cooloffEnd - this.currentBlock) + 1 }} blocks.</p>
          </template>
          <template v-else>
            <p>{{ totalPressFee | toEtherString }} <span class="parenthetical">({{ totalPressFee | toUSD }})</span> to press<span v-if="numPresses > 0"> again</span>.</p>
            <p><span v-show="winBlock">Win in {{ winBlock }} blocks! <span style="color:darkgray;">({{ winBlock | blocksToTime | toTimeString }})</span></span>&nbsp;</p>
          </template>
        </div>
        <template v-if="currentBlock <= endBlock">
          <p class="pressDoc" v-if="username">Welcome, {{ username }} :)</p>
          <p class="pressDoc" v-if="numPresses > 0">You've pressed the button {{ numPresses }} time{{ numPresses > 1 ? "s" : "" }}.</p>
          <template v-else-if="numPresses === 0 && totalPressFee !== pressFee">
            <p class="pressDoc">Your first button press costs a bit more.  Subsequent presses are only {{ pressFee | toEtherString }} <span class="parenthetical">({{ pressFee | toUSD }})</span>.</p>
            <p class="pressDoc">Join <a target="_blank" :href="clubSignup">SolClub</a>, and you won't need to pay the signup fee :)</p>
          </template>
        </template>
      </div>
    </script>

    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
